.row.playerName
  .large-6.columns
    %input{:name => "Name", :type => "text", :placeholder => "\##{@i} Name"}
  .large-6.columns
    %input{:id => "probability" + @i.to_s, :placeholder => "Probability of Win", :type => "text"}