.row.playerName
  .large-6.columns
    %input.aligncenter{:id => "Team1Name#{@i}", :type => "text", :placeholder => "\##{@i} Name"}
  .large-6.columns
    %input.aligncenter{:id => "probability#{@i}", :placeholder => "Win Probability", :type => "text"}