.row.playerName
  .large-6.columns
    %input.aligncenter{:name => "Name", :type => "text", :placeholder => "\##{@i} Name"}
  .large-6.columns
    %input.aligncenter{:id => "probability" + @i.to_s, :placeholder => "Win Probability", :type => "text"}