.row.playerName
  .large-6.columns
    %input.aligncenter{:id => "team2probability" + @i.to_s, :placeholder => "Win Probability", :type => "text"}
  .large-6.columns
    %input.aligncenter{:id => "Team2Name#{@i}", :type => "text", :placeholder => "\##{@i} Name"}
