%h4#instructions
  Input number of simulations, teams, and probabilities. The simulator does the rest!

.row
  .large-4.columns
  .large-4.columns.aligncenter
    %input#num_of_simulations{:placeholder => "Number of Simulations", :type => "text"}
  .large-4.columns

.row
  .large-5.columns
    %p
      Team 1:
      %select#team1
    -for @i in 1..9
      = render :partial => 'player'

  .large-2.columns.slider
    %p

  / TEAM 2 STARTS HERE
  .large-5.columns
    %p
      Team 2:
      %select#team2
    -for @i in 1..9
      = render :partial => 'player2'

#result.hide

.row
  #chart.hide.aligncenter

%buttons
  .row
    .large-5.columns
      #simulate_button.button.aligncenter Simulate!
    .large-2.columns
    .large-5.columns
      #reset_button.button Reset!
