%h4#instructions
  Simply select the teams from the drop-down menus, input each team's top nine players, and assign a probability of the first team's player winning that particular match.  The simulator does the rest!

.row
  .large-6.columns
    Number of Simulations:
    %input#num_of_simulations
  .large-6.columns

.row
  .large-5.columns
    %p
      Team 1:
      %select#team1
    -for @i in 1..9
      = render :partial => 'player'

  .large-2.columns.slider
    %p

  / TEAM 2 STARTS HERE
  .large-5.columns
    %p
      Team 2:
      %select#team2
    -for @i in 1..9
      = render :partial => 'player2'

#result.hide

#chart.hide

%buttons
  #simulate_button.button Simulate Match!
  #reset_button.button Reset!
