#squash_image {
  margin: auto;
  padding: 20px;
}

#logo {
  margin: 0;
  margin-top: -15px;
  font-size: 20px;
}

#result {
  font-size: 18px;
  border: 1px solid #2284a1;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  margin: 10px;
  line-height: 1.2;
  background-color: #2ba6cb;
  color: white;
}


#breakdown9, #breakdown8, #breakdown7,
#breakdown6, #breakdown5, #breakdown4, #breakdown3,
#breakdown2, #breakdown1, #breakdown0 {
  border: 1px solid #2284a1;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  margin: 10px;
  background-color: #2ba6cb;
  color: white;
}


.aligncenter, #num_of_simulations {
  text-align: center;
}

.center {
  margin-right: 40%;
  margin-left: 40%;
  width: 20%;
}

#chart {

  height: 500px;
  width: 750px;
}

#simulate_button, #reset_button {
  margin: 20px auto;
  width: 150px;
  display: block;
  text-align: center;
}

#datatable {
  font-size: 14px;
  width: 100%;
}


#slider1 {
  margin-top: 45px;
}

#slider2, #slider3, #slider4, #slider5, #slider6, #slider7,
#slider8, #slider9 {
  margin-top: 9px;
}

body {
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
}

#instructions {
  text-align: center;
}

.background {
  background-image:url('knitting250px.png');
  padding: 20px;
}

.simhome {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 25%;
}

.row {
  padding: 0px;
}
