<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>

<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group aligncenter">
       <li><%= link_to('Users', users_path, :class => 'button') %></li>
       <li><%= link_to('New User', new_user_path, :class => 'button') %></li>
       <li><%= link_to('Data', datatable_path, :class => 'button') %></li>
       <li><%= intellinav %></li>
      </ul>
    </div>
    <br>
    <h2 id="logo">Squash the Competition</h2>
  </div>
</div>